[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
fastapi = "*"
outline-vpn-api = "*"
pytelegrambotapi = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.10"
